.navbar {
    padding: 10px 0px !important;
}
.link_animation{
    transition: all linear 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_count{
    width: 20px;
    height: 20px;
    margin-left: 7px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: none !important;
}